<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :mon %><br>
    <%= f.text_area :mon %>
  </div>
  <div class="field">
    <%= f.label :tue %><br>
    <%= f.text_area :tue %>
  </div>
  <div class="field">
    <%= f.label :wed %><br>
    <%= f.text_area :wed %>
  </div>
  <div class="field">
    <%= f.label :thu %><br>
    <%= f.text_area :thu %>
  </div>
  <div class="field">
    <%= f.label :fri %><br>
    <%= f.text_area :fri %>
  </div>
  <div class="field">
    <%= f.label :sat %><br>
    <%= f.text_area :sat %>
  </div>
  <div class="field">
    <%= f.label :sun %><br>
    <%= f.text_area :sun %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
