<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.content %></td>
        <td><%= schedule.user.email %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>나으이 스케줄</h1>

<table>
  <thead>
    <tr class = 't'>
      <th>시각</th>
      <td>월</td>
      <td>화</td>
      <td>수</td>
      <td>목</td>
      <td>금</td>
      <td>토</td>
      <td>일</td>
    </tr>
  </thead>
  <tbody>
    <tr class = 'r0'>
      <th class = 't'>00:00 ~ 07:30</th>
      <td class = 'd1' id = 'c01'><i></i></td>
      <td class = 'd2' id = 'c02'><i></i></td>
      <td class = 'd3' id = 'c03'><i></i></td>
      <td class = 'd4' id = 'c04'><i></i></td>
      <td class = 'd5' id = 'c05'><i></i></td>
      <td class = 'd6' id = 'c06'><i></i></td>
      <td class = 'd7' id = 'c07'><i></i></td>
    </tr>
    <tr class = 'r1'>
      <th class = 't'>07:30 ~ 09:00</th>
      <td class = 'd1' id = 'c11'><i></i></td>
      <td class = 'd2' id = 'c12'><i></i></td>
      <td class = 'd3' id = 'c13'><i></i></td>
      <td class = 'd4' id = 'c14'><i></i></td>
      <td class = 'd5' id = 'c15'><i></i></td>
      <td class = 'd6' id = 'c16'><i></i></td>
      <td class = 'd7' id = 'c17'><i></i></td>
    </tr>
    <tr class = 'r2'>
      <th class = 't'>09:00 ~ 10:30</th>
      <td class = 'd1' id = 'c21'><i></i></td>
      <td class = 'd2' id = 'c22'><i></i></td>
      <td class = 'd3' id = 'c23'><i></i></td>
      <td class = 'd4' id = 'c24'><i></i></td>
      <td class = 'd5' id = 'c25'><i></i></td>
      <td class = 'd6' id = 'c26'><i></i></td>
      <td class = 'd7' id = 'c27'><i></i></td>
    </tr>
    <tr class = 'r3'>
      <th class = 't'>10:30 ~ 12:00</th>
      <td class = 'd1' id = 'c31'><i></i></td>
      <td class = 'd2' id = 'c32'><i></i></td>
      <td class = 'd3' id = 'c33'><i></i></td>
      <td class = 'd4' id = 'c34'><i></i></td>
      <td class = 'd5' id = 'c35'><i></i></td>
      <td class = 'd6' id = 'c36'><i></i></td>
      <td class = 'd7' id = 'c37'><i></i></td>
    </tr>
    <tr class = 'r4'>
      <th>12:00 ~ 13:30</th>
      <td class = 'd1' id = 'c41'><i></i></td>
      <td class = 'd2' id = 'c42'><i></i></td>
      <td class = 'd3' id = 'c43'><i></i></td>
      <td class = 'd4' id = 'c44'><i></i></td>
      <td class = 'd5' id = 'c45'><i></i></td>
      <td class = 'd6' id = 'c46'><i></i></td>
      <td class = 'd7' id = 'c47'><i></i></td>
    <tr class = 'r5'>
      <th class = 't'>13:30 ~ 15:00</th>
      <td class = 'd1' id = 'c51'><i></i></td>
      <td class = 'd2' id = 'c52'><i></i></td>
      <td class = 'd3' id = 'c53'><i></i></td>
      <td class = 'd4' id = 'c54'><i></i></td>
      <td class = 'd5' id = 'c55'><i></i></td>
      <td class = 'd6' id = 'c56'><i></i></td>
      <td class = 'd7' id = 'c57'><i></i></td>
    </tr>
    <tr class = 'r6'>
      <th class = 't'>15:00 ~ 16:30</th>
      <td class = 'd1' id = 'c61'><i></i></td>
      <td class = 'd2' id = 'c62'><i></i></td>
      <td class = 'd3' id = 'c63'><i></i></td>
      <td class = 'd4' id = 'c64'><i></i></td>
      <td class = 'd5' id = 'c65'><i></i></td>
      <td class = 'd6' id = 'c66'><i></i></td>
      <td class = 'd7' id = 'c67'><i></i></td>
    </tr>
    <tr class = 'r7'>
      <th class = 't'>16:30 ~ 18:00</th>
      <td class = 'd1' id = 'c71'><i></i></td>
      <td class = 'd2' id = 'c72'><i></i></td>
      <td class = 'd3' id = 'c73'><i></i></td>
      <td class = 'd4' id = 'c74'><i></i></td>
      <td class = 'd5' id = 'c75'><i></i></td>
      <td class = 'd6' id = 'c76'><i></i></td>
      <td class = 'd7' id = 'c77'><i></i></td>
    </tr>
    <tr class = 'r8'>
      <th class = 't'>18:00 ~ 19:00</th>
      <td class = 'd1' id = 'c81'><i></i></td>
      <td class = 'd2' id = 'c82'><i></i></td>
      <td class = 'd3' id = 'c83'><i></i></td>
      <td class = 'd4' id = 'c84'><i></i></td>
      <td class = 'd5' id = 'c85'><i></i></td>
      <td class = 'd6' id = 'c86'><i></i></td>
      <td class = 'd7' id = 'c87'><i></i></td>
    </tr>
    <tr class = 'r9'>
      <th class = 't'>19:00 ~ 20:00</th>
      <td class = 'd1' id = 'c91'><i></i></td>
      <td class = 'd2' id = 'c92'><i></i></td>
      <td class = 'd3' id = 'c93'><i></i></td>
      <td class = 'd4' id = 'c94'><i></i></td>
      <td class = 'd5' id = 'c95'><i></i></td>
      <td class = 'd6' id = 'c96'><i></i></td>
      <td class = 'd7' id = 'c97'><i></i></td>
    </tr>
    <tr class = 'r10'>
      <th class = 't'>20:00 ~ 21:00</th>
      <td class = 'd1' id = 'c101'><i></i></td>
      <td class = 'd2' id = 'c102'><i></i></td>
      <td class = 'd3' id = 'c103'><i></i></td>
      <td class = 'd4' id = 'c104'><i></i></td>
      <td class = 'd5' id = 'c105'><i></i></td>
      <td class = 'd6' id = 'c106'><i></i></td>
      <td class = 'd7' id = 'c107'><i></i></td>
    </tr>
    <tr class = 'r11'>
      <th class = 't'>21:00 ~ 22:00</th>
      <td class = 'd1' id = 'c111'><i></i></td>
      <td class = 'd2' id = 'c112'><i></i></td>
      <td class = 'd3' id = 'c113'><i></i></td>
      <td class = 'd4' id = 'c114'><i></i></td>
      <td class = 'd5' id = 'c115'><i></i></td>
      <td class = 'd6' id = 'c116'><i></i></td>
      <td class = 'd7' id = 'c117'><i></i></td>
    </tr>
    <tr class = 'r12'>
      <th class = 't'>22:00 ~ 23:00</th>
      <td class = 'd1' id = 'c121'><i></i></td>
      <td class = 'd2' id = 'c122'><i></i></td>
      <td class = 'd3' id = 'c123'><i></i></td>
      <td class = 'd4' id = 'c124'><i></i></td>
      <td class = 'd5' id = 'c125'><i></i></td>
      <td class = 'd6' id = 'c126'><i></i></td>
      <td class = 'd7' id = 'c127'><i></i></td>
    </tr>
    <tr class = 'r13'>
      <th class = 't'>23:00 ~ 00:00</th>
      <td class = 'd1' id = 'c131'><i></i></td>
      <td class = 'd2' id = 'c132'><i></i></td>
      <td class = 'd3' id = 'c133'><i></i></td>
      <td class = 'd4' id = 'c134'><i></i></td>
      <td class = 'd5' id = 'c135'><i></i></td>
      <td class = 'd6' id = 'c136'><i></i></td>
      <td class = 'd7' id = 'c137'><i></i></td>
    </tr>
  </tbody>
</table>

<br>
<h2>내가 속한 그룹</h2>
<ul>
  <li>
    <!--% @group.each do |group| %> 나중ㅇ에 db만들ㅇ어지면면 -->
    <!--<span>%= group.name %></span>-->
    <span>그룹이름</span>
    <button type="button" class="btn btn-default" aria-label="remove" style="font-size: 10px; padding: 2px 4px;" >
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </li>
</ul>