<% @schedule.each do |x| %>
    <p>유저: <%= x.user %></p>
    <p>월: <%= x.mon %></p>
    <p>화: <%= x.tue %></p>
    <p>수: <%= x.wed %></p>
    <p>목: <%= x.thu %></p>
    <p>금: <%= x.fri %></p>
    <p>토: <%= x.sat %></p>
    <p>일: <%= x.sun %></p>
    
<% end %>